<header class="header header--main">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <h1>
                    <a href="{{ site.url }}">
                        <img class="header__logo" src="{{ theme.link }}/public/images/CareBirds-logo.png" alt="{{ site.name }}">
                    </a>
                </h1>
            </div>
            <div class="col-12"></div>
        </div>
    </div>

</header>
