{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}

        {# intro #}
        {% set INTRO_DATA = {
            title: post.meta('title_intro'),
            buttons: post.meta('buttons_intro'),
            bgImage: post.meta('background_image_intro'),
            phoneImage: post.meta('phone_image_intro')
        } %}
        {% include 'blocks/home/intro.twig'
            with {
                data: INTRO_DATA
            }
        %}
        {# end intro #}

        {# content types #}
        {% set CONTENT_TYPES = post.meta('content_types') %}
        {% for item in CONTENT_TYPES %}
            {# item - content left right #}
            {% if item.acf_fc_layout == 'image_left_content_right' %}
                {# include #}
                {% include 'blocks/home/image-left-content-right.twig'
                    with {
                        data: item
                    }
                %}
            {# item - testimonial #}
            {% elseif item.acf_fc_layout == 'testimonials' %}
                {# include #}
                {% include 'blocks/home/testimonials.twig'
                    with {
                        data: item
                    }
                %}
            {# item - founder #}
            {% elseif item.acf_fc_layout == 'founder' %}
                {# include #}
                {% include 'blocks/home/founder.twig'
                    with {
                        data: item
                    }
                %}
            {# item - social media #}
            {% elseif item.acf_fc_layout == 'social_media' %}
                {# include #}
                {% include 'blocks/home/social-media.twig'
                    with {
                        data: item
                    }
                %}
            {# item - social media #}
            {% elseif item.acf_fc_layout == 'features' %}
                {# include #}
                {% include 'blocks/home/features.twig'
                    with {
                        data: item
                    }
                %}
            {% endif %}
        {% endfor %}
        {# end content types #}


    {% endfor %}

{% endblock %}
