{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}


		<div class="container container--default-page">
			<div class="row">
				<div class="col-12">
					{% include 'blocks/header/page-header.twig' %}

					{{ post.content }}
				</div>
			</div>
		</div>

    {% endfor %}

{% endblock %}
