{% extends "base.twig" %}

{% block content %}
    {% for post in posts %}
        <article {{ function('post_class') }}>
            <header>
                <h1 class="entry-title">{{ post.title }}</h1>
                {% include "blocks/posts/entry-meta.twig" %}
            </header>
            <div class="entry-content">
                {{ post.content }}
            </div>
            <footer>
                {{ wp_link_pages }}
                {% include "blocks/posts/comment.twig" %}
            </footer>
        </article>
    {% endfor %}
{% endblock %}