<footer class="footer footer--main">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img class="footer__logo" src="{{Image(options.logo_footer).src}}" alt="{{Image(options.logo_footer).alt}}">
                <h2 class="footer__tag-line">
                    {{options.tag_line_footer}}
                </h2>
            </div>
        </div>
        <div class="row justify-content-center" role="list">
            {# {% for item in options.app_links %}
                <div class="col-6 footer__app-store" role="listitem">
                    <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}"/>
                    </a>
                </div>
            {% endfor %} #}

            {% if app_tracking.utm_source %}
                <div class="col-6 footer__app-store" role="listitem">
                    <a href="{{options.ios_g}}?mt=8&pt={{app_tracking.token}}&ct={{app_tracking.utm_campaign}}" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" src="{{ Image(options.ios_image).src }}" alt="{{ Image(options.ios_image).alt }}"/>
                    </a>
                </div>


                <div class="col-6 footer__app-store" role="listitem">
                    <a href="{{options.andriod_g}}&referrer={{app_tracking.utm_campaign}}&utm_campaign={{app_tracking.utm_campaign}}&utm_source={{app_tracking.utm_source}}" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" src="{{ Image(options.android_image).src }}" alt="{{ Image(options.android_image).alt }}"/>
                    </a>
                </div>
            {% else %}
                <div class="col-6 footer__app-store" role="listitem">
                    <a href="{{options.ios_g}}" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" src="{{ Image(options.ios_image).src }}" alt="{{ Image(options.ios_image).alt }}"/>
                    </a>
                </div>
                <div class="col-6 footer__app-store" role="listitem">
                    <a href="{{options.andriod_g}}" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" src="{{ Image(options.android_image).src }}" alt="{{ Image(options.android_image).alt }}"/>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                <small class="footer__copyright">
                    Copyright by Care Birds, LLC. All Rights Reserved
                </small>
            </div>
        </div>
    </div>
</footer>
