.featured-description {
    z-index: 1;
    background-color: $ice-blue;
    padding: 30px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    @include media-breakpoint-up(md){
        border-radius: 15px;
        padding: 50px;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 536px;
    }
    @include media-breakpoint-up(lg){
        transform: translate(-100px, 60px);
    }

    &__icon-div {
        position: relative;
    }

    &__icon {
        position: absolute;
        max-width: 125px;
        bottom: 0;
        right: 0;
    }

    &__col {
        padding: 0;
    }

    &__title {
        @extend %font-h2;
        color: $--dark;
        &:after {
            @extend .mt-3;
            @extend .mb-3;
            background: $teal;
            content: '';
            height: 4px;
            width: 60px;
            display: block;
        }
    }

    &--adjusted {
        .featured-description__icon {
            right: auto;
            left: 30px;
        }
        @include media-breakpoint-up(md){
            max-width: 400px;
        }
    }
}
