.founders-block {
    @extend .pb-5;
    &__title {
        @extend %font-h2;
        @extend .mt-3;
        &:after {
            @extend .mt-4;
            @extend .mb-4;
            background: $teal;
            content: '';
            height: 4px;
            width: 60px;
            display: block;
            margin: 0 auto;
        }
    }
    &__figure {
        @extend .pt-3;
        img {
            max-width: 321px;
        }
        .figure-caption {
            color: $--dark;
        }
    }
}
