.testimonials {
    padding-bottom: 50px;
    // pagination
    .carousel-indicators {
        li {
            background-color: $teal;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            margin: 0 12px;
        }
    }
    // arrows
    .carousel-control-prev,
    .carousel-control-next {
        background: none;
        img {
            max-width: 46px;
        }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background: none;
        height: auto;
        width: auto;
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: 10px;
        width: 46px;
        height: 86px;
    }
    .carousel-control-prev {
        left: -70px;
        @include media-breakpoint-up(lg){
            left: -80px;
        }
    }
    .carousel-control-next {
        right: -70px;
        @include media-breakpoint-up(lg){
            right: -80px;
        }
    }
    // content
    // .carousel-item {

    // }
}
