/*media examples*/

// ***** that size min ***** //
// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

// ***** that size and down ***** //
// @include media-breakpoint-down(xs) { ... }
// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }

// ***** only ****** //
// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }

// ***** between ****** //
// @include media-breakpoint-between(md, xl) { ... }

// .element {
//     // Converted to 20em
//     @include breakpoint(320px) { }
//     // Unitless values are assumed to be pixels
//     @include breakpoint(320) { }
//     // Converted to 40em
//     @include breakpoint(40rem) { }
// }

// @media only screen and (min-width: 1350px) {}
// @media only screen and (max-width: 1350px) {}
// @media only screen and (min-width: 1350px) and (max-width: 1350px) {}

a {
    @include link-transition;
}

.pseudo-bar {
    &:after {
        @extend .mt-3;
        @extend .mb-3;
        content: '';
        height: 4px;
        width: 60px;
        display: block;
    }
    &--teal {
        &:after {
            background: $teal;
        }
    }
}
