
@font-face {
	font-family: "High Tide";
	src: url("../fonts/HighTide.woff2") format("woff2"),
		url("../fonts/HighTide.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@mixin LOGO_FONT_MAIN {
	font-family: "High Tide";
	font-weight: normal;
	font-style: normal;
}

@mixin ROBOTO_MEDIUM {
	font-family: "Roboto Medium";
	font-weight: 500;
	font-style: normal;
}

@mixin ROBOTO_ITALIC {
	font-family: "Roboto Italic";
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "SF UI Display Regular";
	src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
		url("../fonts/SFUIDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
		url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bodoni 72";
	src: url("../fonts/BodoniSvtyTwoITCTT-Book.woff2") format("woff2"),
		url("../fonts/BodoniSvtyTwoITCTT-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bodoni 72 Bold";
	src: url("../fonts/BodoniSvtyTwoITCTT-Bold.woff2") format("woff2"),
		url("../fonts/BodoniSvtyTwoITCTT-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "SF UI Display Bold";
	src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"),
		url("../fonts/SFUIDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@mixin GIL_BOLD {
	font-family: 'Gilroy Bold';
	font-weight: bold;
	font-style: normal;
}


@mixin GIL_MEDIUM {
	font-family: 'Gilroy Medium';
	font-weight: 500;
	font-style: normal;
}


@mixin BODONI_SEVENTY_TWO {
	font-family: "Bodoni 72";
	font-weight: normal;
	font-style: normal;
}

@mixin BODONI_SEVENTY_TWO_BOLD {
	font-family: "Bodoni 72 Bold";
	font-weight: bold;
	font-style: normal;
}

@mixin ROBOTO_REGULAR {
	font-family: "Roboto Regular";
	font-weight: normal;
	font-style: normal;
}

@mixin SFUI_DISPLAY_REGULAR {
	font-family: "SF UI Display Regular";
	font-weight: normal;
	font-style: normal;
}

@mixin SFUI_DISPLAY_BOLD {
	font-family: "SF UI Display Bold";
	font-weight: bold;
	font-style: normal;
}

%call-out {
	@include SFUI_DISPLAY_REGULAR;
	font-size: 10px;
	color: $lg-green;
}

%font-h1 {
	// @include BODONI_SEVENTY_TWO_BOLD;
	@include GIL_BOLD;
	font-size: 64px;
	line-height: 1.13;
	color: $black;
}

%font-h2 {
	// @include BODONI_SEVENTY_TWO_BOLD;
	@include GIL_BOLD;
	font-size: 32px;
	line-height: 1.25;
}

%big-copy {
	// @include ROBOTO_REGULAR;
	@include GIL_MEDIUM;
	font-size: 24px;
	line-height: 1.33;
	color: $--dark;
}

%body-copy {
	@include GIL_MEDIUM;
	font-size: 17px;
	line-height: 22px;
	color: $--dark;
}

%form-input {
	@include SFUI_DISPLAY_REGULAR;
	font-size: 18px;
}

body {
	@extend %body-copy;
	p {
		@extend %body-copy;
	}
}
