// Colors
$blue: #3eb2bf;
$mid-blue: #38a0ac;
$teal: #52d8d7;
$yellow: #ffca30;
$dark-yellow: #c39a23;
$light-blue: #53d9d8;

$lg-green: #1fbba6;
$lg-mid-grey: #6b6c6f;
$lg-light-grey: #9b9b9b;


// new colors
$ice-blue: #f2ffff;
$site-bg: #dff5f5;
$teal: #4dc1bc;
$--dark: #21283a;
