.footer {
    padding: 50px 0 30px;
    @include media-breakpoint-up(md){
        padding: 125px 0 50px;
    }
    &__logo {
        max-width: 250px;
    }
    &__tag-line {
        @extend %font-h2;
        @extend .pt-4;
        @extend .mb-4;
    }
    &__app-store {
        @extend .mb-4;
        img {
            max-width: 163px;
        }
        &:first-child {
            text-align: right;
        }
    }
    &__copyright {
        text-align: center;
        display: block;
    }
}
