.header {
    padding-top: 30px;
    @include media-breakpoint-down(md){
        background-color: $white;
    }
	@media only screen and (min-height: 650px) and (min-width: 1024px) {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		width: 100%;
	}
	&__logo {
		max-width: 300px;
	}
	h1 {
		position: relative;
	}
}
