body {
    &.home {
        background: $site-bg;
    }
}

.intro-block {
    background-size: cover;
	background-repeat: no-repeat;
	background-position: right bottom;
    margin-bottom: 50px;
    @include media-breakpoint-down(md) {
        background: $white !important;
        padding-bottom: 50px;
        padding-top: 50px
    }
    @include media-breakpoint-up(lg){
        margin-bottom: 125px;
    }
    &__row {
        @include media-breakpoint-up(lg) {
			min-height: 100vh;
			&:after {
				content: "";
				min-height: inherit;
			}
		}
    }

    &__content {
        max-width: 500px;
        @include media-breakpoint-up(lg){
            background-color: $ice-blue;
            border-radius: 15px;
            padding: 50px;
        }
    }

    &__app-store {
        img {
            max-width: 163px;
        }
        &:last-child {
            text-align: right;
        }
    }

    &__title {
        @extend %font-h1;
		font-size: 36px;
		margin-bottom: 25px;
    }

    &__phone-image {
        transform: translateY(12vh);
		@media only screen and (min-width: 1400px) {
			max-width: 110%;
		}
		@media only screen and (min-width: 1600px) {
			max-width: 120%;
		}
		@media only screen and (min-width: 1920px) {
			max-width: 130%;
		}
    }

    .container-fluid {
        max-width: 1200px;
    }
}
//
// testimonials
.home-testimonials {
    position: relative;
    margin-bottom: 40px;
    padding-top: 20px;
    @include media-breakpoint-up(md){
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 30px;
        margin-bottom: 0;
    }
    &__clouds {
        z-index: 0;
        position: absolute;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    &__cloud-one {
        @extend .offset-md-1    ;
        max-width: 105px;
        left: 36px;
        top: -107px;
    }
    &__cloud-two {
        max-width: 168px;
        bottom: -100px;
        right: 20px;
    }
    &__title {
        @extend %font-h2;
        font-size: 44px;
        line-height: 1.1;
    }
    &__content {
        z-index: 1;
        position: relative;
    }
    .row {
        position: relative;
    }
}
//
// home social
.home-social {
    margin-bottom: 30px;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg){
        margin-bottom: 50px;
        padding: 75px 0;
    }
    .container {
        @include media-breakpoint-up(md){
            max-width: 870px;
        }
    }
    &__clouds {
        z-index: 0;
        position: absolute;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    &__cloud-one {
        left: 0;
        max-width: 105px;
        bottom: 0;
    }
    &__cloud-two {
        @include centerer;
        transform: translate(-50%, 0);
        top: 0;
        max-width: 213px;
    }
    &__cloud-three {
        @include centerer;
        max-width: 141px;
        left: 25%;
    }
    &__cloud-four {
        right: -300px;
    }
    &__content {
        position: relative;
        z-index: 1;
        &:first-of-type {
            @include media-breakpoint-down(sm) {
                margin-bottom: 30px;
            }
        }
        &:last-of-type {
            @include media-breakpoint-down(sm) {
                background-color: $ice-blue;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
    &__title {
        @extend %font-h2;
    }

    &__description {
        @extend .mb-4;
    }
}

.home-features {
    padding-bottom: 100px;
    margin-bottom: 100px;
    // @include media-breakpoint-up(lg){
    //     background: url(../images/full-big-cloud.png) no-repeat;
    //     background-size: contain;
    //     background-position: bottom left;
    // }
    @include media-breakpoint-down(md){
        background-color: $white;
        margin-bottom: 50px;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .carousel.carousel-fade .carousel-item {
        @extend .row;
        @extend .align-items-end;
        opacity: 0;
        transition: opacity ease-out .35s;
        left: 0;
        top: 0;
        position: absolute;
    }
    .carousel.carousel-fade .carousel-item.active {
        opacity: 1 !important;
    }
    .carousel.carousel-fade .carousel-item:first-child {
        top: auto;
        position: relative;
        transition: opacity ease-out .35s;
    }
    .carousel.carousel-fade .carousel-item:second-child {
        top: auto;
        position: relative;
        transition: opacity ease-out .35s;
    }
    .carousel-item .img-fluid {
        margin: 0 auto;
    }
    .carousel img {
        // opacity: 0.5;
        opacity: 1;
        filter: alpha(opacity=50);
    }
    .container {
        position: relative;
        @include media-breakpoint-down(md){
            max-width: 100%;
        }
    }
    &__cloud {
        @include centerer;
        left: 23%;
        max-width: 1850px;
        z-index: 0;
        @include media-breakpoint-down(md){
            display: none;
        }
    }
    &__icon {
        @extend .mb-3;
        max-width: 138px;
    }
    &__title {
        @extend %font-h2;
        font-size: 44px;
        max-width: 405px;
    }
    &__small {
        @include GIL_BOLD;
    }
    // &__carousel {

    // }
    &__row {
        position: relative;
        z-index: 1;
    }
    .carousel-inner {
        overflow: visible;
        z-index: 0;
    }

    &__carousel-title {
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__carousel-index {
        color: $white;
        background-color: $teal;
        font-size: 12px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        line-height: 29px;
        text-align: center;
        margin-right: 5px;
    }
    &__carousel-title-text {
        @extend %font-h2;
        color: $teal;
    }

    &__carousel-image-div {
        @include media-breakpoint-down(md){
            display: none;
        }
        text-align: center;
        img {
            @include centerer;
            transform: translate(-50%, -75%);
            max-width: 334px;
        }
    }

    &__carousel-description {
        @include media-breakpoint-up(lg){
            max-width: 326px;
        }
    }

    &__arrows {
        // position: relative;
        z-index: 1;
        position: absolute;
        right: 15px;
        width: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: translate(0%, -75%);
        @include media-breakpoint-down(md){
            display: none;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        background: none;
        img {
            max-width: 30px;
        }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background: none;
        height: auto;
        width: auto;
    }

    .carousel-indicators {
        position: relative;
        margin: 0;
        justify-content: start;
        margin-left: -15px;
        li {
            background-color: $teal;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            margin: 0 12px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.home-normal-content {
    .container {
        max-width: 1140px;
    }
}
