<section class="home-features">
    <div class="container">
        <img class="home-features__cloud" src="{{ theme.link }}/public/images/full-big-cloud.png" aria-hidden="true" alt="">
        <div class="row home-features__row">
            <div class="col-12">

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <img class="home-features__icon" src="{{Image(data.icon).src}}" aria-hidden="true" alt="">
                        <h2 class="home-features__title">
                            {{data.title}}
                        </h2>
                        <small class="home-features__small">
                            {{data.sub_title}}
                        </small>
                    </div>
                </div>
                <div class="col-12">
                <div id="carouselFeaturesIndicators" class="carousel slide carousel-fade home-features__carousel" data-ride="carousel">

                    <div class="carousel-inner">
                        {% for slide in data.slides %}
                            <div
                                class="carousel-item {% if loop.first %}active{% endif %} p-0"
                                aria-hidden="{% if loop.first %}false{% else %}true{% endif %}"
                                tabindex="{% if loop.first %}{% else %}-1{% endif %}"
                            >
                                <div class="col-12 col-lg-6 p-0">
                                    <h2 class="home-features__carousel-title">
                                        <span class="home-features__carousel-index">
                                            {{ loop.index }}
                                        </span>
                                        <span class="home-features__carousel-title-text">
                                            {{slide.title}}
                                        </span>
                                    </h2>
                                    <p class="home-features__carousel-description">
                                        {{slide.description}}
                                    </p>
                                </div>
                                <div class="col-12 col-lg-6 d-none d-lg-block">
                                    <div class="home-features__carousel-image-div">
                                        <img class="img-fluid home-features__carousel-image" src="{{Image(slide.image).src}}" alt="{{Image(slide.image).alt}}">
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <ol class="carousel-indicators">
                        {% for pagination in data.slides %}
                            <li
                                data-target="#carouselFeaturesIndicators"
                                data-slide-to="{{ loop.index0 }}"
                                {% if loop.first %}class="active"{% endif %}
                            >
                                <button>
                                    <span class="sr-only">
                                        <span data-js="update-indicator-text">
                                            {% if loop.first %}
                                                current slide is
                                            {% endif %}
                                        </span>
                                        slide {{ loop.index }}
                                    </span>
                                </button>
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="home-features__arrows">
                        <a class="carousel-control-prev" href="#carouselFeaturesIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                                <img src="{{ theme.link }}/public/images/arrow-1@2xl.png" alt="" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselFeaturesIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">
                                <img src="{{ theme.link }}/public/images/arrow-1@2x.png" alt="" aria-hidden="true">
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
