<section>
    <div class="container founders-block">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <img class="img-fluid founders-block__image" src="{{Image(data.image).src}}" alt="{{Image(data.image).alt}}">
                <h2 class="founders-block__title">
                    {{data.title}}
                </h2>
            </div>
            <div class="col-12 col-md-10">
                {{data.copy}}
                <figure class="figure founders-block__figure">
                    <img class="img-fluid founders-block__image" src="{{Image(data.signature).src}}" alt="{{Image(data.signature).alt}}">
                    <figcaption class="figure-caption">
                        {{ Image(data.signature).caption }}
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
