{% set isIconLeft = data.icon_left[0] ? 'featured-description--adjusted': ''%}
<section class="home-normal-content">
    <div class="container content-type content-type--image-copy">
        <div class="row">
            <div class="col-12 col-md-6 image-div">
                <img class="img-fluid image-div__image" src="{{Image(data.main_image).src}}" alt="{{Image(data.main_image).alt}}">
            </div>
            <div class="col-12 col-md-6 align-self-end featured-description__col">
                <div class="featured-description {{isIconLeft}}">
                    <div class="featured-description__icon-div">
                        <img class="img-fluid featured-description__icon" src="{{Image(data.icon).src}}" alt="{{Image(data.icon).alt}}">
                    </div>
                    <h2 class="featured-description__title">
                        {{data.title}}
                    </h2>
                    {{data.description}}
                </div>
            </div>
        </div>
    </div>
</section>
