
<section class="intro-block" style="background-image: url({{data.bgImage}});">

    <div class="container-fluid">

        <div class="row align-items-center intro-block__row">

            <div class="col-12 col-lg-6">
                <div class="intro-block__content">
                    <h2 class="intro-block__title mb-5">
                        {{ data.title }}
                    </h2>
                    <div class="row justify-content-between" role="list">
                        {# {% for item in options.app_links %}
                            <div class="col-6 intro-block__app-store" role="listitem">
                                <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                                    <img class="img-fluid" src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}"/>
                                </a>
                            </div>
                        {% endfor %} #}




                        {% if app_tracking.utm_source %}
                            <div class="col-6 intro-block__app-store" role="listitem">
                                <a href="{{options.ios_g}}?mt=8&pt={{app_tracking.token}}&ct={{app_tracking.utm_campaign}}" target="_blank" rel="noopener noreferrer">
                                    <img class="img-fluid" src="{{ Image(options.ios_image).src }}" alt="{{ Image(options.ios_image).alt }}"/>
                                </a>
                            </div>


                            <div class="col-6 intro-block__app-store" role="listitem">
                                <a href="{{options.andriod_g}}&referrer={{app_tracking.utm_campaign}}&utm_campaign={{app_tracking.utm_campaign}}&utm_source={{app_tracking.utm_source}}" target="_blank" rel="noopener noreferrer">
                                    <img class="img-fluid" src="{{ Image(options.android_image).src }}" alt="{{ Image(options.android_image).alt }}"/>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-6 intro-block__app-store" role="listitem">
                                <a href="{{options.ios_g}}" target="_blank" rel="noopener noreferrer">
                                    <img class="img-fluid" src="{{ Image(options.ios_image).src }}" alt="{{ Image(options.ios_image).alt }}"/>
                                </a>
                            </div>
                            <div class="col-6 intro-block__app-store" role="listitem">
                                <a href="{{options.andriod_g}}" target="_blank" rel="noopener noreferrer">
                                    <img class="img-fluid" src="{{ Image(options.android_image).src }}" alt="{{ Image(options.android_image).alt }}"/>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="d-none d-lg-block col-lg-6 text-right">
                <img class="img-fluid intro-block__phone-image" src="{{Image(data.phoneImage).src}}" alt="{{Image(data.phoneImage).alt}}">
            </div>

        </div>

    </div>

</section>
