<section class="home-social">
    <div class="container">
        <div class="row home-social__row align-items-center">

            <img class="home-social__cloud-one home-social__clouds" src="{{ theme.link }}/public/images/cloud-2@3x.png" alt="" aria-hidden="true">
            <img class="home-social__cloud-two home-social__clouds" src="{{ theme.link }}/public/images/cloud-2@3x.png" alt="" aria-hidden="true">
            <img class="home-social__cloud-three home-social__clouds" src="{{ theme.link }}/public/images/cloud-2@3xb.png" alt="" aria-hidden="true">
            <img class="home-social__cloud-four home-social__clouds" src="{{ theme.link }}/public/images/cloud-2@3xb-solid.png" alt="" aria-hidden="true">

            <div class="col-12 col-md-6 home-social__content">
                <img class="img-fluid home-social__image" src="{{Image(data.image).src}}" alt="{{Image(data.image).alt}}">
            </div>
            <div class="col-12 col-md-6 home-social__content">
                <h2 class="home-social__title pseudo-bar pseudo-bar--teal">
                    {{data.title}}
                </h2>
                <div class="home-social__description">
                    {{data.description}}
                </div>
                <a href="{{data.link_url}}" class="button" target="_blank" rel="noopener noreferrer">
                    {{data.link_text}}
                </a>
            </div>

        </div>
    </div>
</section>
