<section class="home-testimonials">
    <div class="container">
        <div class="row justify-content-center">
            {# clouds #}
            <img class="home-testimonials__cloud-one home-testimonials__clouds" src="{{ theme.link }}/public/images/cloud-2@3x.png" alt="" aria-hidden="true">
            <img class="home-testimonials__cloud-two home-testimonials__clouds" src="{{ theme.link }}/public/images/cloud-2@3x.png" alt="" aria-hidden="true">
            {# end clouds #}
            <div class="col-12 col-md-9 home-testimonials__content">
                <h2 class="home-testimonials__title mb-4">
                    {{data.title}}
                </h2>
            </div>
            <div class="col-12"></div>
            <div class="col-12 col-md-9 home-testimonials__content">
                <div id="carouselTestimonialIndicators" class="carousel slide testimonials" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for pagination in data.content_selection %}
                            <li data-target="#carouselTestimonialIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for slides in data.content_selection %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                {{slides.content}}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="testimonials__arrows d-none d-md-block">
                        <a class="carousel-control-prev" href="#carouselTestimonialIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                                <img src="{{ theme.link }}/public/images/arrow-1@2xl.png" alt="" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselTestimonialIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">
                                <img src="{{ theme.link }}/public/images/arrow-1@2x.png" alt="" aria-hidden="true">
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
